  <!-- footer -->
  <footer>
    <div class="container">
      <p class="text-center">Copyright &copy; fsjituan.com 2015</p>
      <p class="text-center">鄂ICP备14001832号</p>
    </div>
  </footer>
  <!-- /footer -->

  <!-- attach JavaScripts -->
  <script src="javascripts/jquery-1.10.2.js"></script>
  <script src="javascripts/bootstrap.min.js"></script>
</body>
</html>