  <% include header.ejs %>

  <!-- navigation panel -->
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-main">
          <span class="sr-only">芳盛集团</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">FangSheng Group</a>
      </div>

      <div class="collapse navbar-collapse" id="navbar-collapse-main">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#home">Home</a></li>
          <li><a href="#about">FangSheng</a></li>
          <li><a href="#wanglongxiang">WangLongXiang</a></li>
          <li><a href="#contact_us">Contact us</a></li>
          <li><a href="/">中文</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  <!-- first section - Home -->
  <div id="home" class="home">
    <div class="text-vcenter">
      <h1>Welcome to FangSheng group</h1>
	  <br/>
      <a href="#about" class="btn btn-warning btn-lg"><span class="glyphicon glyphicon-hand-down"></span>Continue</a>
    </div>
  </div>
  <!-- /first section -->

  <!-- second section - About -->
  <div id="about" class="pad-section">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <img src="images/logo.jpg" alt="" />
        </div>
        <div class="col-sm-6 text-center">
          <h2>Hubei FangSheng Group Profile</h2>
          <p class="lead">Fangsheng group is a manufacturer and trader of agriculture products and packaging products. With a wide range, good quality and reasonable prices. Our products are widely recognized and trusted by users and can meet continuously changing economic and social needs. </p>
        </div>
      </div>
    </div>
  </div>
  <!-- /second section -->

  <!-- third section - Services -->
  <div id="services" class="pad-section services">
    <div class="container">
      <h2 class="text-center">We welcome new and old customers from all walks of life to contact us for future business relationships and mutual success!</h2> <hr />
      <div class="col-sm-6">
          <img src="images/dian1.jpeg" style="height:400px; margin-top:20px" alt="" />
      </div>
      <div class="col-sm-6">
          <img src="images/dian2.png" style="height:400px; margin-top:20px" alt="" />
      </div>
      <div class="col-sm-6">
          <img src="images/cai1.jpeg" style="height:400px; margin-top:20px" alt="" />
      </div>
      <div class="col-sm-6">
          <img src="images/cai2.jpeg" style="height:400px; margin-top:20px" alt="" />
      </div>
      <div class="col-sm-6">
          <img src="images/cai3.jpeg" style="height:400px; margin-top:20px" alt="" />
      </div>
      <div class="col-sm-6">
          <img src="images/cai4.jpeg" style="height:400px; margin-top:20px" alt="" />
      </div>
    </div>
  </div>
  <!-- /third section -->

  <!-- fourth section - Information -->
  <div id="wanglongxiang" class="pad-section">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h2 class="panel-title" style="font-size:24px">WangLongXiang Agricultural cooperatives</h2>
            </div>
            <div class="panel-body lead">
              WangLongXiang Agricultural cooperatives is a branch company of the FangSheng Group. The company was founded in May, 2011, and we are a company which is specialized in the cultivation and import and export of agricultural products, frozen fruits and vegetables products. We have a 2000 tons low temperature cold storage and 8000 tons of fresh warehouse. Our annual production capacity is of 10,000,000 tons. In addition, the company owns more than 12000 acres of planting greenhouse base.
              <div class="col-sm-6">
                <img src="images/maci.png" style="height:400px; margin-top:20px" alt="" />
              </div>
              <div class="col-sm-6">
                <img src="images/maci2.jpg" style="height:400px; margin-top:20px" alt="" />
              </div>
              <div class="col-sm-6">
                <img src="images/maci3.jpg" style="height:400px; margin-top:20px" alt="" />
              </div>
              <div class="col-sm-6">
                <img src="images/maci4.jpg" style="height:400px; margin-top:20px" alt="" />
              </div>              
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /fourth section -->

  <!-- fifth section -->
  <div id="contact_us" class="pad-section services">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 text-center">
          <h3>Contact us</h3>
		      <hr/>
          <h4>Address：DingXiangYuan, road 106, Dongbao District, Jingmen, China </h4>
          <h4>Phone number：0724-4393166  13593785551</h4>
          <h4>Email：376484924@qq.com</h4>
          <h4>WeChat QR code</h4>
          <div class="col-sm-6" style="float:none; margin: 0 auto">
                <img src="images/qrcode.jpeg" style="margin-top:20px" alt="" />
          </div>  
        </div>
      </div>
    </div>
  </div>
  <!-- /fifth section -->

  <% include footer.ejs %>