  <% include header.ejs %>

  <!-- navigation panel -->
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-main">
          <span class="sr-only">芳盛集团</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">芳盛集团</a>
      </div>

      <div class="collapse navbar-collapse" id="navbar-collapse-main">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#home">首页</a></li>
          <li><a href="#about">芳盛果蔬</a></li>
          <li><a href="#wanglongxiang">王龙巷</a></li>
          <li><a href="#contact_us">联系我们</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  <!-- first section - Home -->
  <div id="home" class="home">
    <div class="text-vcenter">
      <h1>开启互联网+时代!</h1>
      <h3>欢迎访问芳盛果蔬</h3>
	  <br/>
      <a href="#about" class="btn btn-warning btn-lg"><span class="glyphicon glyphicon-hand-down"></span> 继续了解</a>
    </div>
  </div>
  <!-- /first section -->

  <!-- second section - About -->
  <div id="about" class="pad-section">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <img src="images/logo.jpg" alt="" />
        </div>
        <div class="col-sm-6 text-center">
          <h2>湖北芳盛果蔬集团简介</h2>
          <p class="lead">湖北芳盛果蔬集团位于“中国农谷”荆门市掇刀区，是一家集设施蔬菜果品种植、净菜加工、冷链物流、平价蔬菜订购直销配送、生态养殖、生态休闲、电子商务、进出口贸易的高新技术企业，荆门市农业产业化重点龙头企业，国家级农民合作社示范社。集团由母公司湖北芳盛果蔬有限公司和3个子公司：湖北芳盛食品有限公司、湖北芳盛物流有限公司、湖北博文科技有限公司组成。公司现有员工380人，资产总额8000万元。建有标准化保鲜冷库、净菜车间，拥有15000亩标准化生产基地，与农户签订蔬菜订单生产面积达2万亩。产品主要销往北京、武汉、西安、重庆、上海、哈尔滨、内蒙古、越南等地。公司在荆门、钟祥社区内建立了30多家平价蔬菜直销店，智慧果蔬本地化O2O营销模式全部上线。</p>
        </div>
      </div>
    </div>
  </div>
  <!-- /second section -->

  <!-- third section - Services -->
  <div id="services" class="pad-section services">
    <div class="container">
      <h2 class="text-center">本公司愿与国内外客商协同发展，热诚欢迎国内外朋友到芳盛集团投资兴业</h2> <hr />
      <div class="row text-center">
        <div class="col-sm-3 col-xs-6">
          <i class="glyphicon glyphicon-home"> </i>
          <h4>公司企业文化</h4>
          <p>质量成就品牌，诚信铸就未来</p>
        </div>
        <div class="col-sm-3 col-xs-6">
          <i class="glyphicon glyphicon-road"> </i>
          <h4>公司发展思路</h4>
          <p>以农为本、科技创新、创立品牌、走向世界</p>
        </div>
        <div class="col-sm-3 col-xs-6">
          <i class="glyphicon glyphicon-screenshot"> </i>
          <h4>公司经营理念</h4>
          <p>精诚合作，共同发展</p>
        </div>
        <div class="col-sm-3 col-xs-6">
          <i class="glyphicon glyphicon-leaf"> </i>
          <h4>公司服务宗旨</h4>
          <p>您的满意，我的追求</p>
        </div>
      </div>
      <div class="col-sm-6">
          <img src="images/dian1.jpeg" style="height:400px; margin-top:20px" alt="" />
      </div>
      <div class="col-sm-6">
          <img src="images/dian2.png" style="height:400px; margin-top:20px" alt="" />
      </div>
      <div class="col-sm-6">
          <img src="images/cai1.jpeg" style="height:400px; margin-top:20px" alt="" />
      </div>
      <div class="col-sm-6">
          <img src="images/cai2.jpeg" style="height:400px; margin-top:20px" alt="" />
      </div>
      <div class="col-sm-6">
          <img src="images/cai3.jpeg" style="height:400px; margin-top:20px" alt="" />
      </div>
      <div class="col-sm-6">
          <img src="images/cai4.jpeg" style="height:400px; margin-top:20px" alt="" />
      </div>
    </div>
  </div>
  <!-- /third section -->

  <!-- fourth section - Information -->
  <div id="wanglongxiang" class="pad-section">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h2 class="panel-title" style="font-size:24px">湖北王龙巷蔬菜种植专业合作社</h2>
            </div>
            <div class="panel-body lead">
              &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp湖北王龙巷蔬菜种植专业合作社位于钟祥市石牌镇马祠村，2011年5月注册登记，现有成员345人，成员出资3000万元，是一家集蔬菜生产、冷藏加工、冷链运销于一体的蔬菜产销合作组织。合作社主要经营的蔬菜产品有:传统蔬菜、反季节蔬菜，如黄瓜、七彩番茄、胡椒、萝卜、辣椒、生姜、大葱、黄/红洋葱、卷芯菜等40多种。现有蔬菜基地面积12000亩(标准化的蔬菜大棚40个)，年产鲜菜20万吨，产值达3亿元，年销售收入14亿余元，成员户均年纯收入10万元。产品主要销往北京、武汉、西安、重庆、上海、哈尔滨、内蒙古、越南等地。合作社注册有“马祠”牌商标，11个绿色产品认证书，国家质量体系认证书。2011年被祥市认定为“农民合作示范社”，被荆门市农业局授予“'十强'蔬菜专业合作社”，2012年被荆门市评为模范合作社，2013年被湖北省农业厅认定为“农民合作示范社”，2014年11月被国家农业部等九部委认定为“农民合作社示范社”，同年被评为荆门市产业化龙头企业，有5个产品获第十一届国际博览会金奖，3个产品被评为湖北好食材。近几年已在荆门、钟祥社区内建立了30多家平价蔬菜直销店。2015年5月10日智慧果蔬本地化O2O模式上线。截止目前合作社总资产达3500万元，净资产3250万元。展望未来，合作社前景广阔。计划在未来2—3年内还将招商引资1.5亿元，新建农产品物流园，实现营业 收入确保2.5亿元，力争3亿元(其中:原生态种养殖业占50%，农产品冷链物流业占50%)，形成7大核心业务:原生态综合食品制造业、观光粮油手工制造业、品牌代理业、连锁零售业、现代物流业、培训业、农业产业投资基金。培育3大业务:电子商务，食品包装业，农产品交易市场。
              <div class="col-sm-6">
                <img src="images/maci.png" style="height:400px; margin-top:20px" alt="" />
              </div>
              <div class="col-sm-6">
                <img src="images/maci2.jpg" style="height:400px; margin-top:20px" alt="" />
              </div>
              <div class="col-sm-6">
                <img src="images/maci3.jpg" style="height:400px; margin-top:20px" alt="" />
              </div>
              <div class="col-sm-6">
                <img src="images/maci4.jpg" style="height:400px; margin-top:20px" alt="" />
              </div>              
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /fourth section -->

  <!-- fifth section -->
  <div id="contact_us" class="pad-section services">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 text-center">
          <h3>联系我们</h3>
		      <hr/>
          <h4>公司地址：荆门东宝区泉口路9号丁香园106号</h4>
          <h4>法人代表：马莲芳</h4>
          <h4>联系电话：0724-4393166  13593785551</h4>
          <h4>邮箱：376484924@qq.com</h4>
          <h4>微信公众号</h4>
          <div class="col-sm-6" style="float:none; margin: 0 auto">
                <img src="images/qrcode.jpeg" style="margin-top:20px" alt="" />
          </div>  
        </div>
      </div>
    </div>
  </div>
  <!-- /fifth section -->

  <% include footer.ejs %>